.row-main-category {
    background: $whiteColor;
    margin: 0;
    margin-top: 3.5rem;
    //overflow: hidden;
    position: relative;
    @media screen and (max-width: 480px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    //Init Sidebar - Catalogo - Mi cuenta
    & .aside-cat {
        position: relative;
        @media screen and (min-width: 480px) {
            padding-left: 0;
        }
        & .menu-fixed {
            max-width: 270px;
            transition: $transition1;
            position: fixed;
            transform: translateY(-90px);
        }
        //Title Filtros
        & .title-filtro {
            position: relative;
            & h5 {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0!important;
                margin-bottom: 1rem!important;
                display: block;
                & a {
                    font-size: 1.1rem;
                    font-size: 500;
                    margin-right: .7rem;
                    position: relative;
                    top: 1px;
                }
            }
        }
        & .acordion-filtros {
            box-shadow: none;
            border-color: $whiteColor;
            margin-top: 0;
            margin-bottom: 2rem;
            //Style Acordeon Generico
            & .collapsible-header {
                border-bottom: 1px solid $greysoftColor;
                color: $greyColor;
                padding-left: 0;
                transition: $transition1;
                font-size: .95rem;
                background: transparent;
                i {
                    font-size: 1rem;
                    margin-right: 1rem;
                    padding-top: 3px;
                    width: 1rem;
                    transition: $transition1;
                }
                & sub {
                    bottom: -.5rem;
                }
            }
            & .collapsible-header:hover,
            .collapsible-header:active,
            .collapsible-header:focus {
                color: $secondColor;
            }
            & .active {
                color: $secondColor;
            }
            & .active .icon-chevron-down {
                transform: rotate(180deg);
            }
            & .collapsible-body {
                padding: 1.5rem 0 1.5rem 2rem;
                //padding: 2rem;
                color: $greyColor;
                font-size: .95rem;
                font-weight: 500;
                border-bottom: 1px solid $greysoftColor;
                width: 100%;
                & span {
                    width: 100%;
                }
                //Filtro Equipos Modelos
                & .tipo-de-equipo {
                    color: $greyColor;
                    margin-bottom: 10px;
                    justify-content: flex-start;
                    & .number-contenido {
                        padding-left: .5rem;
                        width: auto;
                    }
                }
                & a:last-child {
                    margin-bottom: 0;
                }
                & a:hover {
                    color: $secondColor;
                }
                & .active-filtro {
                    color: $secondColor;
                }
                & .form-modelos {
                    & label {
                        color: $greyColor;
                        font-size: .95rem;
                    }
                    & label:hover,
                    & label:focus {
                        color: $secondColor;
                    }
                }
                //DATOS MI CUENTA
                & .container-datos-user {
                    & a {
                        margin-bottom: 1rem;
                        display: block;
                        & i {
                            margin-right: 1rem;
                            font-size: 1.1rem;
                            font-weight: 400;
                            position: relative;
                            top: 3px;
                        }
                    }
                    & a:last-child {
                        margin-bottom: 0;
                    }
                }
                //Filtro Form-check-box
                & .form-check-box {
                    & label {
                        color: $greyColor;
                        font-size: .95rem;
                        transition: $transition1;
                    }
                    & label:hover,
                    & label:active {
                        color: $secondColor;
                    }
                }
            }
        }
        //Collapsible Header Mobile
        & .cont-filtros-mobile {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            & .acordion-filtros-mobile {
                align-self: flex-start;
                width: 100%;
                & .collapsible-header-mobile {
                    padding: 0 20px!important;
                    border-bottom: none!important;
                    display: flex;
                    align-items: center;
                }
                & .range-field {
                    width: 90%;
                }
            }
            & .cont-btn-filtros {
                align-self: flex-end;
                & .row-btn-filtros {
                    margin-bottom: 0;
                    & .btn-filtros {
                        line-height: 48px;
                    }
                }
            }
        }
        & .swiper-ofertas {
            overflow: hidden;
            position: relative;
            height: 150px;
            & .swiper-slide {
                background-color: $whiteColor;
                transition: all .4s ease;
                width: 100%;
                height: 120px;
                padding-top: 20px;
                & .cont-bag-product {
                    padding: 0;
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 0;
                    & img {
                        width: 90%;
                        max-width: 90px;
                        margin-right: 10px;
                    }
                    & h5 {
                        margin: 0;
                        margin-bottom: 2px;
                        font-size: .9em;
                        color: $greyColor;
                        line-height: 20px;
                        font-weight: 400;
                        width: 90%;
                    }
                    & h3 {
                        margin: 0;
                        margin-top: 5px;
                        font-size: 1.2em;
                        color: $secondColor;
                        font-weight: 600;
                    }
                    & p {
                        font-weight: 400;
                        line-height: normal;
                        margin-bottom: 2px;
                        font-size: 12px;
                        opacity: .7;
                        color: $secondColor!important;
                        text-decoration: line-through;
                    }
                }
            }
            & .swiper-slide:hover {
                opacity: .7;
            }
            //Paginacion
            & .swiper-pagination {
                & .swiper-pagination-bullet-active {
                    background: $primaryColor;
                }
            }
            & .swiper-button-prev,
            & .swiper-button-next {
                background-size: 15px 25px;
                width: 15px;
                height: 25px;
            }
        }
    }
    & .section-productos {
        min-height: 100vh;
        & .filtros-productos {
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 0;
            margin-bottom: 1.5rem;
            padding: 0;
            & .filtros-edit {
                margin: 0;
                padding: 0;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                align-items: center;
                & .text-filtro {
                    margin-right: 1rem;
                    font-size: .9rem;
                    line-height: 32px;
                    height: 32px;
                    margin-bottom: 1rem;
                }
                & .chip {
                    box-shadow: 0 0 0 1px $secondColor inset;
                    background: transparent;
                    color: $secondColor;
                    margin-bottom: 0;
                    font-weight: 500;
                    font-size: .9rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    & .icon-x {
                        transition: $transition1;
                    }
                    & .icon-x:hover {
                        transform: scale(.90);
                        opacity: .7;
                    }
                }
            }
            & .filtros-layout {
                position: relative;
                align-items: center;
                justify-content: flex-end;
                padding-right: 0;
                & .icon-filtro-layout {
                    font-size: 1.3rem;
                    color: $primaryColor;
                    margin-right: .5rem;
                    margin-bottom: 1rem;
                    line-height: 32px;
                    height: 32px;
                }
                & .icon-filtro-layout:last-child {
                    margin-right: 0;
                }
            }
        }
        & .productos-categoria {
            padding: 0;
            & .box-equipos-categoria {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 3px;
                flex-wrap: wrap;
                & .descripcion-equipo {
                    padding: 1.5rem 1.5rem 0 1.5rem;
                    color: $whiteColor;
                    text-align: left;
                    font-weight: 500;
                    @media screen and (max-width: 480px) {
                        padding-left: 2.5rem;
                        text-align: left;
                    }
                    @media screen and (max-width: 321px) {
                        padding-left: 1.5rem;
                    }
                    & .name-equipo,
                    & .atributo-equipo,
                    & .precio-oferta,
                    & .atributo-parrafo,
                    & .precio-normal,
                    & .stock {
                        font-weight: 500;
                        margin: 0;
                        margin-bottom: .3rem;
                    }
                    & .name-equipo,
                    & .atributo-equipo {
                        font-size: 1rem;
                        font-weight: 600;
                        line-height: normal;
                        @media screen and (max-width: 480px) {
                            font-size: .9rem;
                        }
                    }
                    & .atributo-parrafo {
                        font-size: .9rem;
                        & sup {
                            font-size: .6rem;
                        }
                    }
                    & .precio-oferta {
                        font-size: 1.3rem;
                        font-weight: 600;
                        @media screen and (max-width: 480px) {
                            font-size: 1.5rem;
                        }
                        & sup {
                            font-size: 15px;
                            vertical-align: middle;
                            top: -2px;
                            @media screen and (max-width: 480px) {
                                font-size: 12px;
                                top: -1px;
                            }
                        }
                    }
                    & .precio-normal {
                        font-size: .9rem;
                        text-decoration: line-through;
                    }
                }
                & .btn-box-equipos {
                    margin-top: 1rem;
                    width: 100%;
                    text-align: center;
                    & a {
                        border-top: 1px solid $greysoftColor;
                        color: $secondColor;
                        font-weight: 600;
                        padding: .8rem;
                        line-height: normal;
                        display: block;
                        outline: none;
                        font-size: 1rem;
                        height: 100%;
                        font-family: 'Nunito', sans-serif;
                    }
                    & a:hover {
                        background-color: $whiteColor;
                        color: $primaryColor;
                    }
                    & .icon-btn-action {
                        font-size: 1.2rem;
                        font-weight: 500;
                        height: 100%;
                        display: block;
                        @media screen and (max-width: 480px) {
                            //font-size: 1rem;
                        }
                        @media screen and (max-width: 321px) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

//FILTROS MOBILE
.filtros-edit-mobile {
    margin: 0;
    padding: 0!important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
    & .btn-filtros-mobile {
        padding: 0;
        align-items: center;
        margin-right: 1rem;
        cursor: pointer;
        & a {
            text-align: left;
        }
    }
    & .filtros-mobile {
        align-items: center;
        padding: 0;
        & .chip {
            box-shadow: 0 0 0 1px $secondColor inset;
            background: transparent;
            color: $secondColor;
            margin-bottom: 0;
            font-weight: 500;
            font-size: .9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .icon-x {
                transition: $transition1;
            }
            & .icon-x:hover {
                transform: scale(.90);
                opacity: .7;
            }
        }
    }
}

//CAJA DE PRODUCTOS PRINCIPAL
.box-equipos-relacionados {
    border: 1px $greysoftColor solid;
    height: auto;
    padding: 0;
    margin-bottom: 2rem;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    & .imagen-equipo {
        width: 100%;
        overflow: hidden;
        position: relative;
        & .preview-product {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            overflow: hidden;
            //background: $secondColor;
            & i {
                font-size: 1.5rem;
                color: $whiteColor;
                text-align: center;
                position: absolute;
                transform: translateX(-50px);
                opacity: 0;
                visibility: hidden;
                background: $primaryColor;
                transition: $transition1;
                padding: 1rem;
                border-radius: 0 5px 5px 0;
                left: 0;
                top: 35px;
            }
            & .img-product {
                margin: auto;
                width: 100%;
                transition: $transition1;
                @media screen and (max-width: 321px) {
                    max-width: 250px;
                }
                @media screen and (max-width: 480px) {
                    border-bottom: 1px $greysoftColor solid;
                }
            }
        }
        & .preview-product:hover .icon-preview {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        & .preview-product:hover .img-product {
            transform: scale(2) translateX(100px);
        }
        & .mega-tag {
            background-color: $secondColor;
            width: 100%;
            height: 25px;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 35px;
            @media screen and (max-width: 480px) {
                bottom: 0;
            }
            & .instalacion {
                text-align: center;
                bottom: 0;
                color: $whiteColor;
                font-weight: 600;
                font-size: .8rem;
                line-height: normal;
            }
        }
        & .cont-icon-equipos {
            background-color: $whiteColor;
            width: 100%;
            height: 35px;
            justify-content: space-around;
            border-bottom: 1px solid $greysoftColor;
            border-top: 1px solid $greysoftColor;
            z-index: 100;
            & .icon-equipos {
                font-size: 17px;
                line-height: 50px;
                margin: 0;
                color: rgba(63, 166, 243, 0.35);
                opacity: 1;
                display: flex;
                transition: $transition1;
                z-index: 10;
                outline: none;
                @media screen and (max-width: 480px) {
                    font-size: .9rem;
                }
            }
            & .icon-feather {
                font-size: 15.5px;
                margin: 0;
                @media screen and (max-width: 480px) {
                    font-size: .85rem;
                }
            }
            & .icon-equipos:hover {
                color: $primaryColor;
                opacity: 1;
            }
        }
        & .descuento-tag {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $whiteColor;
            background-color: $secondColor;
            border-radius: 0 3px 3px 0;
            font-weight: 600;
            top: 10px;
            left: 0;
            width: 45px;
            height: 25px;
            & p {
                font-size: 1rem;
                margin: 0;
                line-height: 1rem;
                @media screen and (max-width: 480px) {
                    line-height: .9rem;
                    font-size: 1rem;
                }
            }
        }
        & .instalacion-tag {
            @extend .descuento-tag;
            color: $secondColor;
            background: $whiteColor;
            width: 80px;
            height: 40px;
            top: 60px;
            & p {
                line-height: 1rem;
                font-size: .85rem;
                margin: 0;
                text-align: left!important;
                padding-left: .5rem;
            }
        }
    }
}