.row-main-category {
    background: $whiteColor;
    margin: 0;
    margin-top: 3.5rem;
    @media screen and (max-width: 480px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    //Init Sidebar
    & .acordion-filtros {
        box-shadow: none;
        border-color: transparent;
        & .collapsible-header {
            border-bottom: 1px solid $greysoftColor;
            color: $greyColor;
            padding-left: 0;
            transition: $transition1;
            i {
                font-size: 1rem;
                margin-right: 1rem;
                padding-top: 3px;
                width: 1rem;
            }
        }
        & .collapsible-header:hover,
        .collapsible-header:active,
        .collapsible-header:focus {
            color: $secondColor;
        }
        & .active {
            color: $secondColor;
        }
        & .collapsible-body {
            padding: 2rem 0;
            color: $greyColor;
            font-size: .9rem;
        }
    }
    & .title-filtro {
        position: relative;
        & h5 {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;
            margin-bottom: 1rem;
            display: block;
            & i {
                font-size: 1.25rem;
                text-align: right;
                float: right;
            }
        }
    }
}

.divider {
    background-color: $greysoftColor;
}