.row-main-category {
    background: $whiteColor;
    margin: 0;
    margin-top: 3.5rem;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    //Init Sidebar
    & .aside-cat {
        position: relative;
        & .fixed-aside {
            //position: fixed;
            background: $whiteColor;
        }
        //Title Filtros
        & .title-filtro {
            position: relative;
            & h5 {
                font-size: 1rem;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0!important;
                margin-bottom: 1rem!important;
                display: block;
                & i {
                    font-size: 1.25rem;
                    text-align: right;
                    float: right;
                }
            }
        }
        & .acordion-filtros {
            box-shadow: none;
            border-color: transparent;
            margin-top: 0; 
            //Style Acordeon Generico
            & .collapsible-header {
                border-bottom: 1px solid $greysoftColor;
                color: $greyColor;
                padding-left: 0;
                transition: $transition1;
                font-size: .9rem;
                background: transparent;
                i {
                    font-size: 1rem;
                    margin-right: 1rem;
                    padding-top: 3px;
                    width: 1rem;
                }
                & sub {
                    bottom: -.5rem;
                }
            }
            & .collapsible-header:hover,
            .collapsible-header:active,
            .collapsible-header:focus {
                color: $secondColor;
            }
            & .active {
                font-weight: 600;
                color: $secondColor;
            }
            & .collapsible-body {
                padding: 1.5rem 2rem;
                color: $greyColor;
                font-size: .9rem;
                font-weight: 500;
                border-bottom: 1px solid $greysoftColor;
                width: 100%;
                & span {
                    width: 100%;
                }
                & a {
                    color: $greyColor;
                    margin-bottom: 5px;
                }
                & a:last-child {
                    margin-bottom: 0;
                }
                & a:hover {
                    color: $secondColor;
                }
            }
        }
        // FILTRO 1 BTU
        & .filtro-btu {
            & .chip-filtro {
                background: transparent;
                cursor: pointer;
                border: 1px solid $secondColor;
                color: $secondColor!important;
                transition: $transition1;
                padding: 0 10px;
                margin-bottom: .5rem;
            }
            & .chip-filtro:hover, & .chip-filtro:focus, & .chip-filtro:active {
                border: 1px solid $secondColor;
                color: $whiteColor!important;
                background: $secondColor;
            }
        }
    }
}
