//BIENVENIDA
.mis-datos-categoria {
    & .welcome {
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1rem;
        @media screen and (max-width: 480px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        & .cont-photo-user {
            width: 100px;
            margin-right: 1.5rem;
            margin-bottom: 1.5rem;
            position: relative;
            @media screen and (max-width: 480px) {
                margin-right: 0;
            }
            & .photo-user {
                display: block;
            }
        }
        & .text-welcome {
            h1 {
                color: $primaryColor;
                @media screen and (max-width: 480px) {
                    text-align: center;
                }
            }
        }
    }
    //Banner Descuento 
    & .banner-dcto {
        position: relative;
        margin-bottom: 1.5rem;
        & .cont-banner-dcto {
            border-radius: 5px;
            padding: 0;
            overflow: hidden;
            background: $secondColor;
            height: 100px;
            @media screen and (max-width: 998px) {
                background: $whiteColor;
                text-align: center;
                height: auto;
                padding-bottom: 1rem;
                border: 1px solid #f8f8f8;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.035);
            }
            & .figure-banner {
                padding: 0;
                height: 100px;
                @media screen and (max-width: 998px) {
                    height: auto;
                }
                & .banner-img {
                    transform: translateX(-3px);
                    width: 500px;
                    @media screen and (max-width: 998px) {
                        width: 100%;
                        transform: none;
                    }
                }
            }
            & .code-dcto {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                @media screen and (max-width: 998px) {
                    padding-top: .5rem;
                }
                span {
                    font-size: 1.2rem;
                    padding-left: .5rem;
                    @media screen and (max-width: 998px) {
                        color: $secondColor;
                    }
                }
                p {
                    font-size: .95rem;
                    text-align: right;
                    line-height: normal;
                    @media screen and (max-width: 998px) {
                        color: $secondColor;
                    }
                }
            }
        }
    }
    //Datos principales resumen 
    & .datos-resumen {
        position: relative;
        border-radius: 5px;
        & .box-resumen {
            padding: 0;
            margin-bottom: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            border-radius: 5px;
            flex-wrap: wrap;
            & .info-resumen {
                border: 1px solid #f8f8f8;
                background: white;
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.035);
                margin-right: 1rem;
                width: 100%;
                height: 400px;
                padding: 2rem;
                border-radius: 5px;
                transition: $transition1;
                position: relative;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                    height: auto;
                }
                & .title-box-resumen {
                    transition: $transition1;
                    font-size: 1rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin: 0 !important;
                    margin-bottom: 1rem !important;
                    display: block;
                }
                & .icon-edit-datos {
                    position: absolute;
                    right: 7%;
                    top: 1.5rem;
                    font-size: 1.5rem;
                    transform: translateX(45px);
                    opacity: 0;
                    visibility: hidden;
                    color: $secondColor;
                    font-weight: lighter;
                    @media screen and (max-width: 480px) {
                        //top: inherit;
                        //bottom: 1.5rem;
                        //right: 7.5%;
                        //transform: none;
                        opacity: 1;
                        visibility: visible;
                        transform: translateX(0);
                    }
                }
                //Info 1 Mis Datos
                & .section {
                    & h5 {
                        font-size: 1rem;
                        color: $greyColor;
                        opacity: .5;
                        margin-top: 0;
                    }
                    & p {
                        font-weight: 600;
                        font-size: .95rem;
                    }
                }
                //Info 2 Mis Compras
                .collection-compras {
                    border: none;
                    & .avatar {
                        padding-left: 60px;
                        min-height: auto;
                        @media screen and (max-width: 480px) {
                            padding-right: 10px;
                        }
                        & img,
                        & .icon-element {
                            left: 0;
                            border-radius: 2px;
                            width: 50px;
                            height: 50px;
                            position: absolute;
                        }
                        & .icon-element {
                            top: 10px;
                            font-size: 2rem;
                            text-align: center;
                            line-height: 50px;
                            color: $greysoftColor;
                            //opacity: .5;
                        }
                    }
                    & .consultas-preview {
                        padding-left: 0;
                        @media screen and (max-width: 480px) {
                            padding-right: 10px;
                        }
                    }
                    & .collection-item {
                        border-bottom: none;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        & .detail-compra {
                            width: 100%;
                            height: 100%;
                            min-height: 50px;
                            display: block;
                            & .title {
                                font-size: 1rem;
                                transition: $transition1;
                            }
                            & p {
                                font-size: .95rem;
                            }
                        }
                        & .icon-detail {
                            right: 1%;
                            opacity: 0;
                            visibility: hidden;
                            transition: $transition2;
                            position: absolute;
                            top: 1rem;
                            font-size: 1.2rem;
                        }
                        & .detail-compra:hover .icon-detail {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    & .collection-item:hover .title {
                        color: $secondColor;
                    }
                }
                //Sin Movimientos
                & .not-mov {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    flex-direction: column;
                    transform: translateY(-20px);
                    & i {
                        font-size: 4rem;
                        margin-bottom: 1rem;
                    }
                    @media screen and (max-width: 480px) {
                        height: 250px;
                    }
                }
            }
            //Hover Info Resumen
            & .info-resumen:hover {
                border: 1px solid $secondColor;
            }
            & .info-resumen:hover .title-box-resumen {
                color: $secondColor;
            }
            & .info-resumen:hover .icon-edit-datos {
                transform: translateX(0);
                opacity: 1;
                visibility: visible;
            }
        }
        & .box-resumen:nth-child(even) .info-resumen {
            margin-right: 0;
        }
    }
}

//Mi Perfil Collapse para mobile
.mi-perfil-mobile {
    box-shadow: none;
}