.fluid-equipos {
    background-color: $primaryColor;
    height: 880px;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        height: 800px;
    }
    @media screen and (max-width: 425px) {
        height: 820px;
    }
    @media screen and (max-width: 320px) {
        height: 760px;
    }
    & .container-box {
        //margin-bottom: 0;
    }
    & .cont-section {
        padding-bottom: 4rem;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        @media screen and (min-width: 1400px) {
            padding-bottom: 0;
        }
    }
    & .cont-title-especial {
        margin-bottom: 3rem;
    }
    /* Tabs Navs Equipos */
    & .cont-tabs-equipos {
        width: 100%;
        height: auto;
        & .nav-equipos-home {
            background: transparent;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
            @media screen and (min-width: 1400px) {
                margin-bottom: 5rem;
            }
            & li {
                & a {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: rgba(255, 255, 255, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & i {
                        margin-right: 1rem;
                        color: $secondColor;
                        opacity: .5;
                        font-size: 1.5rem;
                        vertical-align: middle;
                        position: relative;
                        top: -2px;
                    }
                    & .icon-alert-circle {
                        margin-left: 1rem;
                        opacity: .5;
                        top: -1px;
                        color: $thirdColor!important;
                        transform: rotate(180deg);
                    }
                }
                & a.active {
                    opacity: 1;
                    color: $whiteColor;
                    & i {
                        opacity: 1;
                        color: $secondColor;
                    }
                }
            }
            & .indicator {
                background-color: $whiteColor;
                height: 1px;
                @media screen and (max-width: 480px) {
                    height: 3px;
                    background-color: $secondColor;
                }
            }
        }
        /* Mostrar Secciones Tabs */
        & .cont-slider-slick {
            height: auto;
            padding: 0;
            & .slide-slick-equipos {
                height: auto;
                & .box-equipos {
                    border: 1px $whiteColor solid;
                    height: auto;
                    padding: 0;
                    margin-bottom: 2rem;
                    outline: none;
                    margin-right: 1rem;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    & .imagen-equipo {
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        & .preview-product {
                            background: white;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            & i {
                                font-size: 1.5rem;
                                color: $whiteColor;
                                text-align: center;
                                position: absolute;
                                transform: translateX(-50px);
                                opacity: 0;
                                visibility: hidden;
                                background: $primaryColor;
                                transition: $transition1;
                                padding: 1rem;
                                border-radius: 0 5px 5px 0;
                                left: 0;
                                top: 35px;
                            }
                            & .img-product {
                                margin: auto;
                                width: 100%;
                                transition: $transition1;
                                @media screen and (max-width: 321px) {
                                    max-width: 250px;
                                }
                                @media screen and (max-width: 480px) {
                                    border-bottom: 1px $greysoftColor solid;
                                }
                            }
                        }
                        & .preview-product:hover .icon-preview {
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                        }
                        & .preview-product:hover .img-product {
                            transform: scale(2) translateX(100px);
                        }
                        & .mega-tag {
                            background-color: $secondColor;
                            width: 100%;
                            padding: 0 1rem;
                            height: 25px;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            bottom: 35px;
                            & .instalacion {
                                text-align: center;
                                bottom: 0;
                                color: $whiteColor;
                                font-weight: 500;
                                font-size: .8rem;
                                line-height: normal;
                            }
                        }
                        & .cont-icon-equipos {
                            background-color: transparent;
                            width: 100%;
                            height: 35px;
                            justify-content: space-around;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            //border-top: 1px solid $greysoftColor;
                            z-index: 100;
                            & a {
                                outline: none;
                            }
                            & .icon-equipos {
                                font-size: 17px;
                                line-height: 50px;
                                margin: 0;
                                color: white;
                                opacity: 1;
                                display: flex;
                                transition: $transition1;
                                z-index: 10;
                                opacity: .4;
                                @media screen and (max-width: 480px) {
                                    font-size: .9rem;
                                }
                            }
                            & .icon-feather {
                                font-size: 15.5px;
                                margin: 0;
                                @media screen and (max-width: 480px) {
                                    font-size: .85rem;
                                }
                            }
                            & .icon-equipos:hover {
                                opacity: 1;
                            }
                        }
                        & .descuento-tag {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: $whiteColor;
                            background-color: $secondColor;
                            border-radius: 0 3px 3px 0;
                            font-weight: 600;
                            top: 10px;
                            left: 0;
                            width: 45px;
                            height: 25px;
                            & p {
                                font-size: 1rem;
                                margin: 0;
                                line-height: 1rem;
                                @media screen and (max-width: 480px) {
                                    line-height: .9rem;
                                    font-size: 1rem;
                                }
                            }
                        }
                        & .instalacion-tag {
                            @extend .descuento-tag;
                            color: $secondColor;
                            background: $whiteColor;
                            width: 80px;
                            height: 40px;
                            top: 60px;
                            & p {
                                line-height: 1rem;
                                font-size: .85rem;
                                margin: 0;
                                text-align: left!important;
                                padding-left: .5rem;
                            }
                        }
                    }
                    & .descripcion-equipo {
                        padding: 1rem 1rem 0 1rem;
                        color: $whiteColor;
                        text-align: center;
                        font-weight: 500;
                        @media screen and (max-width: 480px) {
                            padding-left: 2rem;
                            text-align: left;
                        }
                        @media screen and (max-width: 321px) {
                            padding-left: 1.5rem;
                        }
                        & .name-equipo,
                        & .atributo-equipo,
                        & .precio-oferta,
                        & .atributo-parrafo,
                        & .precio-normal,
                        & .stock {
                            font-weight: 500;
                            margin: 0;
                            margin-bottom: .3rem;
                        }
                        & .name-equipo,
                        & .atributo-equipo {
                            font-size: 1rem;
                            font-weight: 600;
                            @media screen and (max-width: 480px) {
                                font-size: 1rem;
                            }
                        }
                        & .atributo-parrafo {
                            font-size: .9rem;
                        }
                        & .precio-oferta {
                            font-size: 1.3rem;
                            font-weight: 600;
                            & sup {
                                font-size: 15px;
                                vertical-align: middle;
                                top: -2px;
                                @media screen and (max-width: 480px) {
                                    font-size: 12px;
                                    top: -1px;
                                }
                            }
                        }
                        & .precio-normal {
                            font-size: .9rem;
                            text-decoration: line-through;
                            opacity: .5;
                        }
                    }
                    & .btn-box-equipos {
                        margin-top: 1rem;
                        width: 100%;
                        text-align: center;
                        & a {
                            border-top: 1px solid $whiteColor;
                            color: $whiteColor;
                            font-weight: 600;
                            padding: .9rem;
                            line-height: .9rem;
                            display: block;
                            outline: none;
                            font-size: 1rem;
                            height: 100%;
                            font-family: 'Nunito', sans-serif;
                        }
                        & a:hover {
                            //background-color: rgba(255, 255, 255, 0.2);
                            color: $secondColor;
                        }
                        & .icon-btn-action {
                            font-size: 1.2rem;
                            font-weight: 500;
                            height: 100%;
                            display: block;
                            @media screen and (max-width: 480px) {
                                //font-size: 1rem;
                            }
                            @media screen and (max-width: 321px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
        /* Dots navs */
        & .slick-dots {
            bottom: 0;
            position: relative;
            & button:before {
                color: $whiteColor;
                transition: all .4s ease;
            }
            & li.slick-active button:before {
                opacity: 1;
            }
        }
    }
}

.carousel {
    min-height: 580px!important;
    @media screen and (max-width: 480px) {
        min-height: 580px!important;
    }
}