.fluid-equipos {
    background-color: $primaryColor;
    height: 800px;
    overflow: hidden;
    @media screen and (max-width: 480px) {
        height: 820px;
    }
    @media screen and (max-width: 320px) {
        height: 760px;
    }
    & .container-box {
        //margin-bottom: 0;
    }
    & .cont-section {
        padding-bottom: 4rem;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        @media screen and (min-width: 1400px) {
            padding-bottom: 0;
        }
    }
    & .cont-title-especial {
        margin-bottom: 3rem;
    }
    /* Tabs Navs Equipos */
    & .cont-tabs-equipos {
        width: 100%;
        height: auto;
        & .nav-equipos-home {
            background: transparent;
            justify-content: center;
            align-items: center;
            margin-bottom: 3rem;
            @media screen and (min-width: 1400px) {
                margin-bottom: 5rem;
            }
            & li {
                & a {
                    font-weight: 500;
                    text-transform: none;
                    font-size: 18px;
                    color: rgba(255, 255, 255, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media screen and (max-width: 480px) {
                        //font-size: 16px;
                    }
                    & i {
                        margin-right: 1rem;
                        color: $secondColor;
                        opacity: .5;
                        font-size: 1.5rem;
                        vertical-align: middle;
                        position: relative;
                        top: -2px;
                    }
                    & .icon-alert-circle {
                        margin-left: 1rem;
                        opacity: .5;
                        top: -1px;
                        color: $thirdColor!important;
                        transform: rotate(180deg);
                    }
                }
                & a.active {
                    opacity: 1;
                    color: $whiteColor;
                    & i {
                        opacity: 1;
                        color: $secondColor;
                    }
                }
            }
            & .indicator {
                background-color: $whiteColor;
                height: 1px;
                @media screen and (max-width: 480px) {
                    height: 3px;
                    background-color: $secondColor;
                }
            }
        }
        /* Mostrar Secciones Tabs */
        & .cont-slider-slick {
            height: auto;
            padding: 0;
            & .slide-slick-equipos {
                height: auto;
                & .box-equipos {
                    border: 1px $whiteColor solid;
                    height: auto;
                    padding: 0;
                    margin-bottom: 2rem;
                    outline: none;
                    margin-right: 1rem;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    & .imagen-equipo {
                        width: 100%;
                        position: relative;
                        & .mega-tag {
                            background-color: $secondColor;
                            width: 100%;
                            padding: 0 1rem;
                            height: 25px;
                            justify-content: space-between;
                            align-items: center;
                            position: absolute;
                            bottom: 35px;
                            & .instalacion {
                                text-align: center;
                                bottom: 0;
                                color: $whiteColor;
                                font-weight: 500;
                                font-size: .8rem;
                                line-height: normal;
                            }
                        }
                        & .cont-icon-equipos {
                            background-color: transparent;
                            width: 100%;
                            height: 35px;
                            justify-content: space-around;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                            & .icon-equipos {
                                font-size: 17px;
                                line-height: 50px;
                                margin: 0;
                                color: $whiteColor;
                                display: flex;
                                opacity: 1;
                                transition: $transition1;
                                z-index: 10;
                            }
                            & .icon-feather {
                                font-size: 15.5px;
                                margin: 0;
                                color: $whiteColor;
                            }
                            & .icon-equipos:hover {
                                opacity: .5;
                            }
                        }
                        & .img-product {
                            margin: auto;
                            width: 100%;
                            height: auto;
                        }
                        & img {
                            height: 130px;
                            width: 130px;
                            margin: auto;
                        }
                        & .descuento-tag {
                            position: absolute;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: $whiteColor;
                            background-color: $secondColor;
                            border-radius: 0 5px 5px 0;
                            font-weight: 600;
                            width: 45px;
                            height: 45px;
                            top: 10px;
                            left: 0;
                            & p:first-child {
                                font-size: 1.1rem;
                                margin: 0;
                                line-height: 1rem;
                                & sup {
                                    position: relative;
                                    top: -2px;
                                    margin: 0;
                                }
                            }
                            & p:last-child {
                                line-height: 1rem;
                                font-size: .85rem;
                                margin: 0;
                                text-align: center;
                            }
                        }
                        & .instalacion-tag {
                            @extend .descuento-tag;
                            color: $secondColor;
                            background: $whiteColor;
                            width: 80px;
                            height: 40px;
                            top: 60px;
                            & p {
                                line-height: 1rem;
                                font-size: .85rem;
                                margin: 0;
                                text-align: left!important;
                                padding-left: .5rem;
                            }
                        }
                    }
                    & .descripcion-equipo {
                        padding: 1rem 1rem 0 1rem;
                        color: $whiteColor;
                        text-align: center;
                        font-weight: 500;
                        & .name-equipo,
                        & .atributo-equipo,
                        & .precio-oferta,
                        & .atributo-parrafo,
                        & .precio-normal,
                        & .stock {
                            font-weight: 500;
                            margin: 0;
                            margin-bottom: .3rem;
                        }
                        & .name-equipo,
                        & .atributo-equipo {
                            font-size: 20px;
                        }
                        & .atributo-parrafo {
                            opacity: .6;
                            font-size: .95rem;
                        }
                        & .precio-oferta {
                            font-size: 25px;
                            font-weight: 600;
                            & sup {
                                font-size: 15px;
                                vertical-align: middle;
                                top: -2px;
                            }
                        }
                        & .precio-normal {
                            font-size: 1rem;
                            text-decoration: line-through;
                        }
                        & .stock {
                            opacity: .6;
                            font-size: .8rem;
                        }
                    }
                    & .btn-box-equipos {
                        margin-top: 1rem;
                        width: 100%;
                        text-align: center;
                        & a {
                            background: $whiteColor;
                            color: $secondColor;
                            font-weight: 600;
                            padding: .8rem;
                            display: block;
                            outline: none;
                        }
                        & a:hover {
                            background-color: $whiteColor;
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
        /* Dots navs */
        & .slick-dots {
            bottom: 0;
            position: relative;
            & button:before {
                color: $whiteColor;
                transition: all .4s ease;
            }
            & li.slick-active button:before {
                opacity: 1;
            }
        }
    }
}

.carousel {
    min-height: 520px!important;
    @media screen and (max-width: 480px) {
        min-height: 500px!important;
    }
}