// Color
$primaryColor: #00587a;
$secondColor: #3fa7f3;
$thirdColor: #7ac743;
$whiteColor: #fff;
$greyColor: #777;
// Type
$encodesans-font-path: "../fonts/encodesans/" !default;
//Transition
$transition1: all .4s ease;
$transition2: all .4s ease-in;
$transition3: all .4s ease-out;
$transition4: all .4s ease-in-out;