    .cont-proyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        & .cont-section {
            padding-bottom: 0;
        }
        & .proyectos {
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 3rem;
            display: flex;
            flex-wrap: wrap;
            & .principal-proyecto {
                height: 350px;
                position: relative;
                background-color: $whiteColor;
                margin-bottom: 1.5rem;
                & .box-proyecto {
                    overflow: hidden;
                    border-radius: 5px;
                    height: 350px;
                    margin: 0;
                    background-image: url(../img/proyectos/proyect-1.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    box-shadow: none;
                    display: flex;
                    position: relative;
                    justify-content: flex-end;
                    box-shadow: 0 30px 70px -10px rgba(0, 0, 0, .05);
                    & .logo-cliente {
                        @include gradient1;
                        width: 100%;
                        min-height: 100%;
                        margin: 0;
                        position: absolute;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        & img {
                            max-width: 220px;
                            transition: $transition1;
                        }
                    }
                    & .card-content {
                        width: 100%;
                        border-radius: 0;
                        background: $whiteColor;
                        position: relative;
                        align-self: flex-end;
                        @media screen and (max-width: 480px) {
                            width: 100%;
                            border-radius: 0;
                        }
                        & .card-title {
                            font-size: 16px;
                            font-weight: 500;
                            color: $primaryColor;
                            margin-bottom: 0;
                            transition: $transition1;
                            & i {
                                //color: $primaryColor;
                            }
                        }
                        & p {
                            font-weight: 500;
                        }
                    }
                }
            }
            & .principal-proyecto:nth-of-type(2) .box-proyecto {
                background-image: url(../img/proyectos/proyect-2.jpg);
            }
            & .principal-proyecto:nth-of-type(3) .box-proyecto {
                background-image: url(../img/proyectos/proyect-3.jpg);
            }
            & .principal-proyecto:nth-of-type(4) .box-proyecto {
                background-image: url(../img/proyectos/proyect-4.jpg);
            }
            & .principal-proyecto:hover .logo-cliente>img {
                transform: scale(.90);
            }
        }
    }