.cont-proyectos {
    margin-bottom: 80px;
    .slider-proyectos {
        //background: darkcyan;
        .for-1 {
            background: darkblue;
            display: block;
            width: 100%;
            height: 400px;
        }
    }
}