@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600');
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Encode Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

a {
    transition: $transition1;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.cont-section {
    padding-bottom: 80px;
    width: 100%;
}

.container-box {
    padding: 80px 0 0 0;
}

//Titulos y Subtitulos
.cont-title-especial {
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    & .title-white,
    & .title-blue,
    & .title-grey {
        font-weight: lighter;
        font-size: 40px;
        margin: auto 0;
        line-height: normal;
        @media screen and (max-width: 480px) {
            font-size: 30px;
            width: 90%;
        }
    }
    & .subtitle-white,
    & .subtitle-blue,
    & .subtitle-grey {
        font-size: 18px;
        width: 90%;
        line-height: 30px;
        font-weight: 500;
        margin: 0;
        @media screen and (max-width: 480px) {
            //font-size: 16px;
        }
    }
    & .title-white,
    & .subtitle-white {
        color: $whiteColor;
    }
    & .title-blue,
    & .subtitle-blue {
        color: $primaryColor;
    }
    & .title-grey,
    & .subtitle-grey {
        color: $greyColor;
    }
}

.text-primary {
    color: $primaryColor;
}

.text-second {
    color: $secondColor;
}

.text-third {
    color: $thirdColor;
}

.text-grey {
    color: $greyColor;
}