//@import url('https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    font-size: 15px;
}

a {
    transition: $transition1;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
}

.cont-section {
    padding-bottom: 100px;
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
    margin-bottom: 0;
    margin-top: 0;
}

.container-box {
    padding: 100px 0 0 0;
    @media screen and (max-width: 480px) {
        padding: 80px 0 0 0;
    }
}

//Titulos y Subtitulos
.cont-title-especial {
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    & .title-white,
    & .title-blue,
    & .title-grey {
        font-weight: 400;
        font-size: 35px;
        margin: auto 0;
        line-height: normal;
        @media screen and (max-width: 480px) {
            font-size: 30px;
            width: 90%;
        }
    }
    & .subtitle-white,
    & .subtitle-blue,
    & .subtitle-grey {
        font-size: 18px;
        width: 90%;
        line-height: 30px;
        font-weight: 400;
        margin: 0;
        @media screen and (max-width: 480px) {
            //font-size: 16px;
        }
    }
    & .title-white,
    & .subtitle-white {
        color: $whiteColor;
    }
    & .title-blue,
    & .subtitle-blue {
        color: $primaryColor;
    }
    & .title-grey,
    & .subtitle-grey {
        color: $greyColor;
    }
}

.text-primary {
    color: $primaryColor;
}

.primary {
    background: $primaryColor!important;
}

.text-second {
    color: $secondColor;
}

.second {
    background: $secondColor!important;
}

.text-third {
    color: $thirdColor;
}

.text-grey {
    color: $greyColor;
}

.text-white {
    color: $whiteColor;
}

.my-disabled {
    opacity: .4;
    cursor: default;
    pointer-events: none;
}

.calc-disable {
    display: none;
    cursor: default;
    pointer-events: none;
}

//FORMULARIOS
.btn-submit {
    position: relative;
    background: transparent;
    margin: 0;
    color: $secondColor;
    box-shadow: none;
    font-weight: 600;
    border: 2px solid $secondColor;
    line-height: normal;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    transition: $transition1;
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus {
    background-color: $secondColor;
    color: $whiteColor;
}

[type="checkbox"]+label {
    font-size: .9rem;
}

[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    border: 2px solid #ccc;
}

.btn-help-form {
    font-size: .9rem;
    text-align: center;
    display: block;
    color: $secondColor;
    margin-top: 1rem;
    & span {
        font-weight: 600;
    }
}

.divider {
    background-color: $greysoftColor;
}

//BARRA DE PROGRESOS
.progress {
    background-color: $secondColor;
    & .indeterminate {
        background-color: $primaryColor;
    }
}

//Selectores - Scrollbar - Img
::-moz-selection {
    background: $secondColor;
    color: $whiteColor;
}

::selection {
    background: $secondColor;
    color: $whiteColor;
}

::-moz-selection {
    background: $secondColor;
    color: $whiteColor;
}

::-webkit-scrollbar {
    width: 7px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background-color: $secondColor;
}

::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
}

img {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}