.mas-buscado {
    background: $secondColor;
    & .content-buscado {
        padding: 0;
        margin: 0;
        & .cont-box-buscado {
            margin: 0;
            padding: 0;
            & .llamado-buscado {
                line-height: 95px;
                padding: 0;
                padding-top: .2rem;
                text-align: center;
                min-height: 100px;
                & span {
                    font-size: 1.3rem;
                    @media screen and (max-width: 480px) {
                        font-size: 1.5rem;
                    }
                }
            }
            & .box-producto {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $whiteColor;
                margin: 0;
                padding: 0;
                padding: .8rem 0;
                position: relative;
                min-height: 100px;
                & figure {
                    margin: 0;
                    margin-right: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & img {
                        height: 100%;
                        max-width: 100%;
                        width: 70px;
                    }
                }
                & .desc-search {
                    & p,
                    & h5 {
                        margin: 0;
                    }
                    & p {
                        font-size: .8rem;
                        opacity: .7;
                        font-weight: 500;
                    }
                    & h5 {
                        font-weight: 500;
                        font-size: 1.1rem;
                        line-height: 1.3rem;
                    }
                    & h5:nth-of-type(1) {
                        font-weight: 400;
                    }
                }
                & i {
                    position: absolute;
                    right: 0;
                    padding-right: 1.5rem;
                    font-size: 1.3rem;
                    line-height: 75px;
                }
                @media screen and (max-width: 800px) {
                    padding: .7rem 1.5rem;
                    justify-content: flex-start;
                }
            }
            & .box-producto:nth-of-type(1) {
                background-color: rgba(1, 82, 104, 0.1);
            }
            & .box-producto:nth-of-type(2) {
                background-color: rgba(1, 82, 104, 0.2);
            }
            & .box-producto:nth-of-type(3) {
                background-color: rgba(1, 82, 104, 0.3);
            }
            & .box-producto:hover {
                background: $primaryColor;
            }
        }
    }
}