.fluid-servicios {
    background: $whiteColor;
    & .cont-section {
        padding-bottom: 40px;
        @media screen and (max-width: 480px) {
            padding-bottom: 20px;
        }
    }
    & .cont-servicios {
        width: 100%;
        margin-bottom: 40px;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: 2rem;
        @media screen and (max-width: 480px) {
            margin-top: 0;
        }
        & .row-servicios {
            position: relative;
            width: 100%;
            clear: both;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 768px) {
                display: block;
            }
            & .servicios {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 4rem;
                margin-right: 4rem;
                transition: $transition1;
                box-shadow: 0 1px 0 0 $greysoftColor;
                @media screen and (max-width: 768px) {
                    margin-right: 0;
                }
                @media screen and (max-width: 480px) {
                    margin-right: 0;
                }
                & figure {
                    background-color: $whiteColor;
                    width: 85px;
                    height: 85px;
                    padding: 1.5rem;
                    border-radius: 20px;
                    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, .05);
                    transition: $transition1;
                    margin: 0;
                    margin-bottom: 1rem;
                    & .icon-services {
                        transition: $transition1;
                        opacity: 1;
                    }
                }
                & h3 {
                    font-size: 18px;
                    font-weight: 500;
                    color: $primaryColor;
                }
                & p {
                    line-height: 25px;
                    width: 100%;
                }
                & .btn-services {
                    font-weight: 600;
                    padding: 1rem 0;
                    transform: translateX(20px);
                    transition: $transition1;
                    opacity: 0;
                    visibility: hidden;
                    font-size: 1rem;
                    color: $primaryColor;
                }
            }
            & .servicios:nth-child(3) {
                margin-right: 0;
            }
            & .servicios:hover .btn-services {
                transform: translateX(0px);
                opacity: 1;
                visibility: visible;
            }
            & .servicios:hover {
                box-shadow: 0 1px 0 0 $primaryColor;
            }
            & .servicios:hover figure {
                border-radius: 45px;
            }
        }
    }
}