        // BOLSA DE COMPRAS
        #slide-carro,
        #slide-carro-mobile {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            & .carro-vacio {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
                & .cont-icon-carro {
                    animation: carro-vacio .7s alternate ease-in;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    & i {
                        font-size: 5rem;
                        color: $secondColor;
                        background-color: transparent;
                        border-radius: 50%;
                        display: block;
                        margin-bottom: .5rem;
                        position: relative;
                        & i {
                            transform: rotate(0deg);
                            position: absolute;
                            font-size: 1.2rem;
                            top: 0;
                            right: -10px;
                            font-weight: bold;
                            background: $secondColor;
                            color: $whiteColor;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: .4rem;
                            animation: icon-alert-circle .7s alternate infinite ease-in;
                        }
                        @keyframes icon-alert-circle {
                            0% {
                                transform: scale(1);
                                box-shadow: 0 5px 0px rgba(0, 0, 0, .2);
                            }
                            100% {
                                transform: scale(.80);
                            }
                        }
                    }
                }
                @keyframes carro-vacio {
                    0% {
                        transform: translateY(-10px) rotate(-15deg);
                    }
                    50% {
                        transform: rotate(0deg) rotate(-15deg);
                    }
                    100% {
                        transform: rotate(0deg);
                    }
                }
                & p:nth-of-type(1) {
                    font-size: 2rem;
                    color: $primaryColor;
                    font-weight: 500;
                }
                & p:nth-of-type(2) {
                    font-size: 1.2rem;
                    color: $primaryColor;
                    margin-bottom: 1rem;
                    font-weight: 400;
                    width: 80%;
                    margin: auto;
                    line-height: normal;
                }
                & a {
                    line-height: 40px;
                    background: transparent;
                    border: 2px solid $secondColor;
                    color: $secondColor;
                    width: 200px;
                    border-radius: 3px;
                    margin: auto;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
            .container-bag-product {
                align-self: flex-start;
                & .side-nav-bag {
                    background-color: $whiteColor;
                    transition: all .4s ease;
                    width: 100%;
                    height: 120px;
                    padding: 20px;
                    border-bottom: 1px solid $greysoftColor;
                    & .close-product-bag {
                        position: absolute;
                        right: 10px;
                        top: 5px;
                        z-index: 10;
                        opacity: .5;
                        transition: $transition1;
                    }
                    & .close-product-bag:hover {
                        opacity: 1;
                    }
                    & .cont-bag-product {
                        padding: 0;
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        height: 80px;
                        margin-bottom: 0;
                        padding-bottom: 0;
                        & img {
                            width: 100px;
                            min-width: 100px;
                            max-width: 100px;
                            margin-right: 13px;
                            min-height: 100px;
                            height: 100px;
                        }
                        & h5 {
                            margin: 0;
                            margin-bottom: 5px;
                            font-size: 1em;
                            color: $greyColor;
                            line-height: 20px;
                        }
                        & h3 {
                            margin: 0;
                            font-size: 1.3em;
                            color: $primaryColor;
                            font-weight: 500;
                        }
                    }
                }
                & .side-nav-bag:hover,
                & .side-nav-bag:focus {
                    opacity: .8;
                }
            }
            .chip-product {
                border-radius: 0;
                height: auto;
                width: 100%;
                margin: 0;
                & img {
                    border-radius: 0;
                    margin: 0;
                    max-width: 150px;
                    width: 100%;
                }
            }
            .cont-bag-product:hover {
                background-color: transparent;
            }
            .container-total {
                width: 100%;
                z-index: 10;
                background: $whiteColor;
                align-self: flex-end;
                & .btn-nav-comprar {
                    width: 100%;
                    position: relative;
                    margin: auto;
                    padding-top: 0;
                    padding-bottom: 0;
                    & .total-compra {
                        font-size: .9em;
                        color: $greyColor;
                        padding: 1.5em;
                        line-height: normal;
                        margin-bottom: 0;
                        margin-top: 0;
                        transition: all .4s ease;
                    }
                    & .total-compra:nth-child(1) {
                        border-top: 1px solid $greysoftColor;
                        padding: 1rem 1.5rem;
                    }
                    & .total-compra:nth-child(2) {
                        font-weight: 500;
                        color: $whiteColor;
                        text-transform: uppercase;
                        background-color: $primaryColor;
                        & span {
                            position: relative;
                            top: -3px;
                            font-size: 1.3rem;
                            display: flex;
                            align-items: center;
                            & sup {
                                top: 0;
                                margin-right: 3px;
                            }
                        }
                    }
                    & .btn-nav-comprar:hover {
                        background-color: none;
                    }
                    & .btn-comprar {
                        background: $secondColor;
                        display: block;
                        line-height: 50px;
                        height: 50px;
                        color: $whiteColor;
                        font-weight: 500;
                        text-transform: uppercase;
                        position: relative;
                        font-size: 1rem;
                        & i {
                            display: inline-block;
                            position: absolute;
                            right: 5%;
                            font-size: 1.2rem;
                            top: 50%;
                            margin-top: -.55rem;
                            transition: $transition1;
                        }
                    }
                    & .btn-comprar:hover i {
                        right: 3.5%;
                    }
                }
            }
        }