.slider-home {
    position: relative!important;
    height: 85.5vh!important;
    @media screen and (min-width: 1400px) {
        height: 90vh!important;
    }
    @media screen and (max-width: 480px) {
        height: 100vh!important;
    }
    & .slides {
        background-color: $primaryColor;
        & .caption {
            top: 25%!important;
            @media screen and (max-width: 480px) {
                text-align: center;
                top: 15%!important;
            }
            & h3 {
                margin-top: 0;
                position: relative;
                & .logo-wifi {
                    width: 80px;
                    height: 80px;
                    display: inline-block;
                    margin: 0;
                    position: absolute;
                    vertical-align: middle;
                    top: -3px;
                    margin-left: 1rem;
                }
                @media screen and (max-width: 480px) {
                    font-size: 2.6rem;
                }
            }
            & h5 {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
                line-height: 2rem;
            }
            & .cont-btn-slider {
                justify-content: flex-start;
                @media screen and (max-width: 480px) {
                    flex-wrap: wrap;
                    align-items: flex-start;
                }
                & .btn-slider {
                    background-color: $secondColor;
                    color: $whiteColor;
                    line-height: 45px;
                    padding: 0 1.5rem;
                    font-weight: 500;
                    font-size: 1rem;
                    border: 2px solid $secondColor;
                    border-radius: 5px!important;
                    @media screen and (max-width: 480px) {
                        margin-bottom: 1rem;
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }
                & .btn-slider:first-child {
                    margin-right: 1rem;
                    @media screen and (max-width: 480px) {
                        margin-right: 0;
                    }
                }
                & .btn-slider:last-child {
                    background-color: $whiteColor;
                    border: 2px solid $whiteColor;
                    color: $secondColor;
                }
                & .btn-slider:hover {
                    background-color: transparent;
                    border: 2px solid $secondColor;
                    color: $whiteColor;
                }
            }
        }
    }
    & .indicator-item {
        background-color: rgba(255, 255, 255, 0.5)!important;
        width: 10px!important;
        height: 10px!important;
    }
    & .indicator-item.active {
        background-color: $whiteColor!important;
    }
}